<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
	<title>成功頁面</title>
<style type="text/css">
	.head{
		background-color: #003344;color:white;
		font-weight:bold;font-size:25px;
		text-align:center;padding:10px;
	}
    .box{
        margin:20px;text-align:center;
    }
</style>
</head>
<body style="margin:0px;background-color:#eeeeee ">
	<div class="head">歡迎光臨，這是會員頁</div>	
	<div class="box">
		<div class=signin>{{signin}}，成功登入系統</div>
		<a href="/signout">登出系統</a>
	</div>
</body>
</html>
