<!DOCTYPE html>
<html>
<head>
<!--要符合最小的螢幕寬度1000px，layout為針對電腦和筆電的排版，
layout_v2欲改善排版讓使用者在使用手機瀏覽時也能符合需求-->
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>  <!--針對手機瀏覽加上的條件，希望手機不要對網頁進行縮放，所以將縮放尺度固定為1倍。-->
	<title>失敗頁面</title>
<style type="text/css">
	.head{
		background-color: #003344;color:white;
		font-weight:bold;font-size:25px;
		text-align:center;padding:10px;
	}
    .box{
        margin:20px;text-align:center;
    }
</style>
</head>
<body style="margin:0px;background-color:#eeeeee ">
	<div class="head">失敗頁面</div>
	<div class="box">帳號或密碼輸入錯誤</div>
</body>
</html>